@import "variables";
#cont_descripcion_foto{
    width: 100%;
    //background:$colorAzul;
    background-size:100% 500px;
    background-repeat:no-repeat ;
    position: relative;
    .contBase{
        width: 100%;
        padding:50px 0px;
        background:$colorAzul;
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        justify-content: space-between;
        //align-items: center;
        .contenedor_izq{
            width:50%;
            height: 700px;
            //margin-left: 20px;
            margin-left: 50px;
            position: relative;
            .titulo_acerca{
                width: 500px;
                height: 400px;
                margin-top: 30px    ;
                font-size: $fuenteTitles;
                color: $colorVerde ; 
                line-height: 180px;
                letter-spacing: $letterSpacing; 
                position: absolute;
                top: 0;
                left: -500px;
                animation-name: moverTitleAbout;
                animation-duration: 3s;
                animation-fill-mode:both;
            }
            @keyframes moverTitleAbout {
                from{
                   left: -500px;
                   opacity: 0;
                }to{
                   left: 0;
                }
            }
            
            .contenedorIzq_parrBtn{
                width: 500px;
                height: 270px;
                position: absolute;
                left: 100px;
                bottom:0px;
                .descripcion_acerca{
                    text-align: justify;
                    color:white;
                    font-weight: 300;
                    font-size: 18px;
                    .formms{
                        color: $colorVerde;
                    }    
                }
                .btnAcerca{
                    width: 200px;
                    border:2px solid $colorVerde;
                    padding: 5px;
                    background: $colorAzulTransparente;
                    color: white;
                    font-size: 18px;
                    font-weight: 300;
                    margin-top: 20px;
                    margin-left: 10px;
                    float: right;
                    border-radius: 10px;
                    transition-duration: 0.1s;
                    transition-timing-function: ease;
                    cursor: pointer;
                    .iconAB{
                        margin-left: 5px;
                        font-size: 25px;
                        color: $colorVerde;
                    }
                }
                .btnAcerca:hover{
                    background:rgba(255, 255, 255, 0.075);
                    border: 2px solid $colorVerde;
                    //color: $colorBlack;
                }
            }

        }
        .contenedor_der{
            width: 40%;
            //margin-right: 50px;
            background:$colorAzul;
            display: flex;
            flex-direction: column;    
            justify-content: center;
            align-items: center;
            .contenedor_der_image{
                width: 450px;
                height: 450px;
                border:2px solid $colorVerde;
                border-radius:50%;
                box-shadow: 0px 0px 5px $colorVerde;
                transition: 0.1s all linear;
                overflow: hidden;
                background:$colorVerde;
                transition: 1s all;
                .foto{
                    mix-blend-mode:multiply;    
                }    
            }
            .contenedor_der_image:hover{
                //border:5px double $colorVerde;
                border:2px solid $colorVerde;
                box-shadow: 0px 0px 100px $colorVerdeTrans;
                .foto{
                    mix-blend-mode:normal;    
                }   
            }
            
        } 
    }

    .cont_descripcion_foto_gradient{
        width: 300px;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgb(2,0,36);
        background: linear-gradient(90deg, $colorAzul 0%, $colorAzul 15%,transparent);
    }
   
}
    






@media (min-width:1025px) and (max-width:1200px){
    #cont_descripcion_foto{
        width: 100%;
        padding: 0px 0px;
        background-size:100% 500px;
        background-repeat:no-repeat ;
        position: relative;
        .contBase{
            width: 100%;
            padding:50px 0px;
            background:$colorAzul;
            display: flex;
            flex-direction:row;
            flex-wrap: wrap;
            justify-content: space-between;
           

            //align-items: center;
            .contenedor_izq{
                width:50%;
                height: 700px;
                //margin-left: 20px;
              
                margin-left: 50px;
                position: relative;
                .titulo_acerca{
                    width: 500px;
                    height: 400px;
                    margin-top: 30px    ;
                    font-size: $fuenteTitles;
                    color: $colorVerde ; 
                    line-height: 180px;
                    letter-spacing: $letterSpacing; 
                    position: absolute;
                    top: 0;
                    left: -500px;
                    animation-name: moverTitleAbout;
                    animation-duration: 3s;
                    animation-fill-mode:both;
                }
                @keyframes moverTitleAbout {
                    from{
                       left: -500px;
                       opacity: 0;
                    }to{
                       left: 0;
                    }
                }
                
                .contenedorIzq_parrBtn{
                    width: 83%;
                    height: 270px;
                    position: absolute;
                    left: 100px;
                    bottom:0px;
                 
                    .descripcion_acerca{
                        text-align: justify;
                        color: white;
                        .formms{
                            color: $colorVerde;
                        }    
                    }
                    .btnAcerca{
                        border:2px solid $colorVerde;
                        padding: 5px 30px;
                        background: $colorAzulTransparente;
                        color: white;
                        margin-top: 20px;
                        float: right;
                        border-radius: 10px;
                        transition-duration: 0.1s;
                        transition-timing-function: ease;
                        cursor: pointer;
                        .iconAB{
                            margin-left: 5px;
                            font-size: 25px;
                            color: $colorVerde;
                        }
                    }
                    .btnAcerca:hover{
                        background:rgba(255, 255, 255, 0.075);
                        border: 2px solid $colorVerde;
                        //color: $colorBlack;
                    }
                }
                
            }
            .contenedor_der{
                width: 40%;
                background: $colorAzul;
                margin-right: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: 1s all;

                
            } 
        }
    
        .cont_descripcion_foto_gradient{
            width: 300px;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: rgb(2,0,36);
            background: linear-gradient(90deg, $colorAzul 0%, $colorAzul 15%,transparent);
        }
       
    } 
}







@media (min-width:641px) and (max-width:1024px){
    #cont_descripcion_foto{
        width: 100%;
        //background:$colorAzul;
        padding:0px 0px;
        background-size:100% 500px;
        background-repeat:no-repeat ;
        position: relative;
        .contBase{
            width: 100%;
            padding:50px 0px;
            background:$colorAzul;
            display: flex;
            flex-direction:row;
            flex-wrap: wrap;
            justify-content: space-between;
            position: relative;
            .contenedor_izq{
                width:100%;
                height: 750px;
                //margin-left: 20px;
                margin-left: initial;
                position: relative;
                .titulo_acerca{
                    width: 500px;
                    height: 400px;
                    margin-top: 30px;
                    margin-left: 20px;
                    font-size: 150px;
                    color: $colorVerde ; 
                    line-height: 160px;
                    letter-spacing: $letterSpacing; 
                    position: absolute;
                    top: 0;
                    left: -500px;
                    animation-name: moverTitleAbout;
                    animation-duration: 3s;
                    animation-fill-mode:both;
                }
                @keyframes moverTitleAbout {
                    from{
                       left: -500px;
                       opacity: 0;
                    }to{
                       left: 0;
                    }
                }
                
                .contenedorIzq_parrBtn{
                    width: 40%;
                    padding: 10px 0px;
                    height: initial;
                    position: absolute;
                    right:20px;
                    bottom:0;
                    left: initial;
                    .descripcion_acerca{
                        text-align: justify;
                        
                        .formms{
                            color: $colorVerde;
                        }    
                    }
                    .btnAcerca{
                        width: 100%;
                        border:2px solid $colorVerde;
                        padding: 5px 0px;
                        background: $colorAzulTransparente;
                        color: white;
                        margin-top: 8px;
                        float: right;
                        border-radius: 10px;
                        transition-duration: 0.1s;
                        transition-timing-function: ease;
                        cursor: pointer;
                        .iconAB{
                            margin-left: 5px;
                            font-size: 25px;
                            color: $colorVerde;
                        }
                    }
                    .btnAcerca:hover{
                        background:rgba(255, 255, 255, 0.075);
                        border: 2px solid $colorVerde;
                        //color: $colorBlack;
                    }
                }
                
            }
            .contenedor_der{
                width:50%;
                background:$colorAzul;
                position: absolute;
                left: 20px;
                bottom: 50px;
                display: flex;
                flex-direction: column;    
                justify-content: center;
                align-items: center;
                .contenedor_der_image{
                    width: 350px;
                    height: 350px;
                    border:2px solid $colorVerde;
                    border-radius:50%;
                    box-shadow: 0px 0px 5px $colorVerde;
                    transition: 0.1s all linear;
                    overflow: hidden;
                    transition: 1s all;
                }
                
                
            } 
        }
    
        .cont_descripcion_foto_gradient{
            width: 300px;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: rgb(2,0,36);
            background: linear-gradient(90deg, $colorAzul 0%, $colorAzul 15%,transparent);
            display: none;
        }
       
    } 
}




@media (min-width:481px) and (max-width:640px){
    #cont_descripcion_foto{
        width: 100%;
        //background:$colorAzul;
        padding:0px 0px;
        background-size:100% 500px;
        background-repeat:no-repeat ;
        position: relative;
        .contBase{
            width: 100%;
            padding:50px 0px;
            background:$colorAzul;
            display: flex;
            flex-direction:row;
            flex-wrap: wrap;
            justify-content: space-between;
            position: initial;
            .contenedor_izq{
                width:100%;
                padding:10px 15px;
                height:initial;
                margin-left: initial;
                position:initial;
                .titulo_acerca{
                    width: 80%;
                    height:initial;
                    padding:30px 0px;
                    margin-top:0;
                    margin-left: 0px;
                    font-size: 130px;
                    color: $colorVerde ;
                    line-height: 120px;
                    letter-spacing: $letterSpacing; 
                    position:initial;
                    top: initial;
                    left:initial;
                    animation-name: moverTitleAbout;
                    animation-duration: 3s;
                    animation-fill-mode:both;
                }
                @keyframes moverTitleAbout {
                    from{
                       left: -500px;
                       opacity: 0;
                    }to{
                       left: 0;
                    }
                }
                
                .contenedorIzq_parrBtn{
                    width: 100%;
                    padding: 10px 0px;
                    height: initial;
                    position: initial;
                    right:initial;
                    bottom:0;
                    left: initial;

                    .descripcion_acerca{
                        text-align: justify;
                      
                        .formms{
                            color: $colorVerde;
                        }    
                    }
                    .btnAcerca{
                        width: 100%;
                        border:2px solid $colorVerde;
                        padding: 5px 50px;
                        background: $colorAzulTransparente;
                        color: white;
                        margin-top: 10px;
                        float: right;
                        border-radius: 10px;
                        transition-duration: 0.1s;
                        transition-timing-function: ease;
                        cursor: pointer;
                        .iconAB{
                            margin-left: 5px;
                            font-size: 25px;
                            color: $colorVerde;
                        }
                    }
                    .btnAcerca:hover{
                        background:rgba(255, 255, 255, 0.075);
                        border: 2px solid $colorVerde;
                        //color: $colorBlack;
                    }
                }
                
            }
            .contenedor_der{
                width:100%;
                background:$colorAzul;
                padding: 10px 0px;
                position: initial;
                left: initial;
                bottom: initial;
                display: flex;
                flex-direction: column;    
                justify-content: center;
                align-items: center;
                .contenedor_der_image{
                    width: 300px;
                    height: 300px;
                    border:2px solid $colorVerde;
                    border-radius:50%;
                    box-shadow: 0px 0px 5px $colorVerde;
                    transition: 0.1s all linear;
                    overflow: hidden;
                    transition: 1s all;

                    
                }
                
                
            } 
        }
    
        .cont_descripcion_foto_gradient{
            display: none;
        }
       
    } 
}




@media (min-width:320px) and (max-width:480px){
    #cont_descripcion_foto{
        width: 100%;
        //background:$colorAzul;
        padding:0px 0px;
        background-size:100% 500px;
        background-repeat:no-repeat ;
        position: relative;
        .contBase{
            width: 100%;
            padding:initial;
            background:$colorAzul;
            display: flex;
            flex-direction:column;
            flex-wrap: wrap;
            justify-content: space-between;
            .contenedor_izq{
                width:100%;
                padding:10px 15px;
                height:initial;
                margin-left: initial;
                position:initial;
                .titulo_acerca{
                    width: 80%;
                    height:initial;
                    padding:30px 0px;
                    margin-top:0;
                    margin-left: 0px;
                    font-size: 120px;
                    color: $colorVerde ;
                    line-height: 120px;
                    letter-spacing: $letterSpacing; 
                    position:initial;
                    top: initial;
                    left:initial;
                    animation-name: moverTitleAbout;
                    animation-duration: 3s;
                    animation-fill-mode:both;
                }
                @keyframes moverTitleAbout {
                    from{
                       left: -500px;
                       opacity: 0;
                    }to{
                       left: 0;
                    }
                }
                
                .contenedorIzq_parrBtn{
                    width: 100%;
                    padding: 10px 0px;
                    height: initial;
                    position: initial;
                    right:initial;
                    bottom:0;
                    left: initial;

                    .descripcion_acerca{
                        text-align: justify;
                      
                        .formms{
                            color: $colorVerde;
                        }    
                    }
                    .btnAcerca{
                        width: 100%;
                        border:2px solid $colorVerde;
                        padding: 5px 50px;
                        background: $colorAzulTransparente;
                        color: white;
                        margin-top: 10px;
                        float: right;
                        border-radius: 10px;
                        transition-duration: 0.1s;
                        transition-timing-function: ease;
                        cursor: pointer;
                        .iconAB{
                            margin-left: 5px;
                            font-size: 25px;
                            color: $colorVerde;
                        }
                    }
                    .btnAcerca:hover{
                        background:rgba(255, 255, 255, 0.075);
                        border: 2px solid $colorVerde;
                        //color: $colorBlack;
                    }
                }
                
            }
            .contenedor_der{
                width:100%;
                background:$colorAzul;
                padding: 10px 0px;
                position: initial;
                left: initial;
                bottom: initial;
                display: flex;
                flex-direction: column;    
                justify-content: center;
                align-items: center;
                .contenedor_der_image{
                    width: 280px;
                    height: 280px;
                    border:2px solid $colorVerde;
                    border-radius:50%;
                    box-shadow: 0px 0px 5px $colorVerde;
                    transition: 0.1s all linear;
                    overflow: hidden;
                    transition: 1s all;

                }
                
            } 
        }
    
        .cont_descripcion_foto_gradient{
            display: none;
        }
       
    } 
}





