@import "variables";

.contTemsplatesRetos{
    width:auto;
    padding: 5px 0px;
    //background:rgb(45, 30, 30);
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    bottom: 40px;
    left: 0px;
    z-index: 500;
    opacity: 0;
    transition: 0.5s all;
    transform: translateX(-100px);

    .contTemplatesRetos_box{
        width: 70px;
        padding: 5px 0px;
        background: $colorAzul;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        line-height: 17px;
        transition: 0.2s all ease;
        .contTemplatesRetos_box_text{
            color: white;
            font-size: 16px;
            transition: 0.3s all;
            font-weight: 100;
        }
    }
    .contTemplatesRetos_box:hover{
        transform: translateX(5px);
        background: $colorVerde;
        .contTemplatesRetos_box_text{
            color: $colorAzul;
        }
    }

   
}
.contTemsplatesRetos_JS{
    opacity: 1;
    transform: translateX(0)
}
