//@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');





/*******ESTILOS DE LA GRID*****/
/*******ESTILOS DE LA GRID*****/
/*******ESTILOS DE LA GRID*****/
/*******ESTILOS DE LA GRID*****/
.CONTENT-PRINCIPAL{
    width: 100%;
    max-width: 1440px;
    margin: auto;
    //padding: 10px 0px;
    //background: rgb(194, 194, 194);
    display: grid;
    //grid-gap:1em;
    grid-template-columns:100%;
    grid-template-rows:auto;
    grid-template-areas: "CONTENT-PARTICULAS";
                        
                        .CONTENT-PARTICULAS{
                            //padding: 10px 0px;
                            //background: brown;
                            grid-area:CONTENT-PARTICULAS;
                        }
                       
}