@import "variables";
body{
    background:$colorNegro;
    //background: scroll;
}
html{
    scroll-behavior:smooth;
}
.CONTENIDO_CONTENT{
    width: 100%;
    max-width: 1440px;
    padding: 30px 0px;
    margin: auto;
    //background: rgb(0, 138, 71);
    overflow: hidden;   
    display: grid;
    //gap:1em;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 50px repeat(8,auto);
    grid-template-areas:"MENU_CONTENT        MENU_CONTENT        MENU_CONTENT"
                        "ABOUT_CONTENT       ABOUT_CONTENT       ABOUT_CONTENT"
                        "TITLE_PORTFOLIO     TITLE_PORTFOLIO     TITLE_PORTFOLIO"
                        "PORTAFOLIO_NEW      PORTAFOLIO_NEW      PORTAFOLIO_NEW"
                        "PORTFOLIO_CONTAINER   PORTFOLIO_CONTAINER   PORTFOLIO_CONTAINER"
                        "SERVICES_TITLE      SERVICES_TITLE      SERVICES_TITLE"
                        "SERVICES_CONTENT    SERVICES_CONTENT    SERVICES_CONTENT"
                        "TILTE_SKILLS        TILTE_SKILLS        TILTE_SKILLS"
                        "SKILLS_CONTAINER    SKILLS_CONTAINER    SKILLS_CONTAINER"
                        "SKILLS_CONTENT      SKILLS_CONTENT      SKILLS_CONTENT"
                        "CONTACT_TITLE       CONTACT_TITLE       CONTACT_TITLE"
                        "CONTACT_CONTENT     CONTACT_CONTENT     CONTACT_CONTENT"
                        "PIE_CONTENT         PIE_CONTENT         PIE_CONTENT";


                        .MENU_CONTENT{
                            //padding: 5px 0px;
                            height: 45px;
                            //background: rgb(12, 164, 45);
                            grid-area: MENU_CONTENT;
                            
                        }



                        .ABOUT_CONTENT{
                            //padding: 5px 0px;
                            //background: brown;
                            grid-area: ABOUT_CONTENT;
                            
                        }



                        .TITLE_PORTFOLIO{
                            //padding: 10px 0px;
                            //background: brown;
                            grid-area: TITLE_PORTFOLIO;
                        }
                        .PORTFOLIO_CONTAINER{
                            //padding: 5px 0px;
                            //background:brown;
                            grid-area: PORTFOLIO_CONTAINER;
                            display:none;
                        }   
                        .PORTAFOLIO_NEW{
                            //padding: 10px 0px;
                            //background: brown;
                            grid-area: PORTAFOLIO_NEW;
                        }


                        



                        .SERVICES_TITLE{
                            //padding: 10px 0px;
                            //background: rgb(42, 165, 63);
                            grid-area: SERVICES_TITLE;
                            display: none;
                        }
                        .SERVICES_CONTENT{
                            //padding: 10px 0px;
                            //background: rgb(3, 159, 128);
                            grid-area: SERVICES_CONTENT;
                            display: none;
                        }




                        .TILTE_SKILLS{
                            //padding: 5px 0px;
                            //background: rgba(122, 165, 42, 0.788);
                            grid-area: TILTE_SKILLS;
                            display: none;
                        }

                        .SKILLS_CONTAINER{
                            //padding: 5px 0px;
                            //background: brown;
                            grid-area: SKILLS_CONTAINER;
                            display: none;
                        }
                        .SKILLS_CONTENT{
                            //padding: 5px 0px;
                            //background: rgb(70, 70, 70);
                            grid-area: SKILLS_CONTENT;
                            display: none;
                        }




                        .CONTACT_TITLE{
                            //padding: 10px 0px;
                            //background: brown;
                            grid-area: CONTACT_TITLE;
                            display: none;
                        }
                        .CONTACT_CONTENT{
                            //padding: 5px 0px;
                            //background: rgb(70, 70, 70);
                            grid-area: CONTACT_CONTENT;
                            display: none;
                        }



                        .PIE_CONTENT{
                            //padding: 5px 0px;
                            //background: rgb(70, 70, 70);
                            grid-area: PIE_CONTENT;
                            display: none;
                        }
}





@media (min-width:320px) and (max-width:1024px){
    .CONTENIDO_CONTENT{
        width: 100%;
        max-width: 1440px;
        //padding: 5px 0px;
        margin: auto;
        background: $colorNegro;
        //background: brown;
        overflow: hidden;
        display: grid;
        //gap:1em;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 50px repeat(8,auto);
        grid-template-areas:"MENU_CONTENT        MENU_CONTENT        MENU_CONTENT"
                            "ABOUT_CONTENT       ABOUT_CONTENT       ABOUT_CONTENT"
                            "TITLE_PORTFOLIO     TITLE_PORTFOLIO     TITLE_PORTFOLIO"
                            "PORTFOLIO_CONTAINER   PORTFOLIO_CONTAINER   PORTFOLIO_CONTAINER"
                            "SERVICES_TITLE      SERVICES_TITLE      SERVICES_TITLE"
                            "SERVICES_CONTENT    SERVICES_CONTENT    SERVICES_CONTENT"
                            "TILTE_SKILLS        TILTE_SKILLS        TILTE_SKILLS"
                            "SKILLS_CONTAINER    SKILLS_CONTAINER    SKILLS_CONTAINER"
                            "SKILLS_CONTENT      SKILLS_CONTENT      SKILLS_CONTENT"
                            "CONTACT_TITLE       CONTACT_TITLE       CONTACT_TITLE"
                            "CONTACT_CONTENT     CONTACT_CONTENT     CONTACT_CONTENT"
                            "PIE_CONTENT         PIE_CONTENT         PIE_CONTENT";
    
    
                            .TILTE_SKILLS{
                                //padding: 5px 0px;
                                //background: rgba(122, 165, 42, 0.788);
                                grid-area: TILTE_SKILLS;
                                display: none;
                            
                            }
    
                            .SKILLS_CONTAINER{
                                //padding: 5px 0px;
                                //background: brown;
                                grid-area: SKILLS_CONTAINER;
                                display: none;
                            }
                            .SKILLS_CONTENT{
                                //padding: 5px 0px;
                                //background: rgb(70, 70, 70);
                                grid-area: SKILLS_CONTENT;
                                display: block;
                                display: none;
                            }
    
    
    
    
                           
    }
}
