@import "variables";
/*******ESTILOS DEL MENU*****/
/*******ESTILOS DEL MENU*****/
/*******ESTILOS DEL MENU*****/
/*******ESTILOS DEL MENU*****/
.header {
    background:$colorAzul;
    transition: 0.5s all;
    width: 100%;
    box-shadow: 0px 2px 10px black;
    padding: 10px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1000;

      //BLOCK LOGO
      .header_logo{
        width: 100px;
        height:50px;
        margin-left: 20px;
      }

      //BLOCK NAVEGADOR
      .contNavegador{
        width:570px;
        padding: 3px 0px;
        margin-right: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        .contIcono_active{
          width: 100px;
          padding: 5px 20px;
          .IconNombre{
            color: $colorVerde;
            font-size: 20px;
          }
          .contLetras{
            margin-top: -5px;
            font-size: 14px;
            color: $colorVerde;
          }
        }

        .contIcono{
          width: 100px;
          padding: 5px 0px;
          position: relative;
          .IconNombre{
            color: $colorCelesteOscuro;
            font-size: 20px;
          }

          .contLetras{
            margin-top: -5px;
            font-size: 14px;
            color: $colorVerde;
          }

          .submenu{
            width: 600px;
            background:white;
            padding: 10px;
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            position: absolute;
            top:60px;
            right:-300px;
            opacity: 0;
            visibility: hidden;
            transition: 0.2s linear;
            .submenu__item{
              width: 180px;
              padding:20px;
              border-radius: 10px;
              background: $colorAzul;
              margin: 3px 0px;
              box-shadow: 0px 0px 2px;
              transition: 0.2s all;
              .submenu__link{
                text-decoration: none;
                font-size: 16px;
                color: $colorVerde;
                text-align: start;
              }

              .submenu__img{
                margin-top: 5px;
                width: 100%;
                height: 130px;
              }
            }

            .submenu__item:hover{
              background:$colorAzulOscuro;
            }
          }

          &:hover{        
              .submenu{
                opacity: 1;
                visibility: visible;
                transform: translateY(5px);
              }
          }
          
        }

        .contIcono:hover{
          background:transparent ;
          .IconNombre{
            color: $colorVerde;
            font-size: 20px;
          }
        }
      }

      //BLOCK BTN RESPONSIVE
      .header_btnResponsive{
        /*width: 40px;
        height: 40px;
        background: rgb(31, 122, 122); */
        display: none;
      }
}
.contHeader_js{
  box-shadow: 0px 2px 20px $colorVerde;
}







@media (min-width:320px) and (max-width:480px) {
  .header {
    background:$colorAzulOscuro;
    width: 100%;
    box-shadow: 0px 2px 10px black;
    padding: 10px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1000;
    transition: 0.5s all;


      //BLOCK LOGO
      .header_logo{
        width: 100px;
        height:50px;
        margin-left: 20px;
      }

      //BLOCK NAVEGADOR
      .contNavegador{
        width:160px;
        padding: 15px 0px;
        margin-right: 0;
        background:$colorAzulOscuro;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: initial;
        position: absolute;
        top: 75px;
        left: 0;
        .contIcono_active{
          width: 160px;
          padding: 15px 20px;
          background:$colorAzulOscuro;
          .IconNombre{
            color: $colorVerde;
            font-size: 20px;
          }
          .contLetras{
            font-size: 14px;
            color: $colorVerde;
            
          }
        }

        .contIcono{
          width: 160px;
          padding: 15px 20px;
          position: relative;
          background: $colorAzul;
          transition: 0.5s all;
          .IconNombre{
            color: $colorCelesteOscuro;
            font-size: 20px;
          }

          .contLetras{
            margin-top: 0px;
            font-size: 14px;
            color: $colorVerde;
          }

          .submenu{
            width: 150px;
            background:$colorAzulOscuro;
            padding: 10px;
            list-style: none;
            display: flex;
            flex-direction: column;
            justify-content:flex-start;
            align-items: center;
            position: absolute;
            top:-167px;
            right:initial;
            left: 160px;
            opacity: 0;
            visibility: hidden;
            transition: 0.2s linear;
            z-index: 100;
            .submenu__item{
              width: 100%;
              padding:20px;
              border-radius: 10px;
              background: $colorAzul;
              margin: 3px 0px;
              box-shadow: 0px 0px 2px;
              transition: 0.2s all;
              .submenu__link{
                text-decoration: none;
                font-size: 16px;
                color: $colorVerde;
                text-align: start;
              }

              .submenu__img{
                margin-top: 5px;
                width: 100%;
                height: 70px;
              }
            }

            .submenu__item:hover{
              background:$colorAzulOscuro;
            }
          }

          &:hover{        
              .submenu{
                opacity: 1;
                visibility: visible;
                transform: translateY(5px);
              }
          }
          
        }

        .contIcono:hover{
          background:$colorAzulOscuro;
          .IconNombre{
            color: $colorVerde;
            font-size: 20px;
          }
        }
      }

      //BLOCK BTN RESPONSIVE
      .header_btnResponsive{
        /*width: 40px;
        height: 40px;
        background: rgb(31, 122, 122); */
        display: block;
      }
  }

  .contHeader_js{
    box-shadow: 0px 2px 20px $colorVerde;
  }
}








