

/////////////////CAJA PARTICULASS/////////////////////////

.contParticulas{
    width: 100%;
    max-width: 1440px;
    height: 100vh;
    margin: auto;
    //padding: 10px 0px;
    background-image: url(../img/desarrollando.jpg);
    background-size: 100% 100%;
    //background-attachment: fixed;
    overflow: hidden;
    position: fixed;
    z-index: -1;
    #particles-js{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        background: $colorAzulTransparente;
        position: fixed;
        left: 0;
    
        //TITLE
        .titulo_principal{
            width:auto;
            padding: 15px 0px;
            font-size: 180px;
            font-family: Poppins;
            text-shadow: 2px 2px 8px $colorVerde;
            transform: skewX(-5deg);
            letter-spacing: -6px;
            line-height:130px;
            color: $colorAzulOscuro;
            position: absolute;
            top: 80px;

            /*GRADIENT TEXT
            background: $colorVerde;  //EN CASO DE QUE NO FUNCIONE EL GRDIENT EN ALGUN NAVEGADOR
            background-image: linear-gradient(white, $colorVerde) ;
            background-clip: text;

            -webkit-background-clip:text ;
            -moz-background-clip:text ;
            -webkit-text-fill-color: transparent;
            -moz-text-fill-color: transparent;
            //FIN GRADIENT*/

        }

        //SUBTITLE
        .subtitle{
            text-align: center;
            color:white;
            font-size: 22px;
            font-weight: 100;
            transform: skewX(-5deg);
            position: absolute;
            top: 270px;
            font-family: poppins;
            .front_css_js{
                color: $colorVerde;
                font-family: poppins;
                font-weight: 100;
                font-style: normal;
                font-size: 20px;
            }
        }

        //BOTONES
        .particles__menu{
            width: 400px;
            padding: 5px 0px;
            position: absolute;
            top: 310px;
            .particles__ul{
                padding: 5px 0px;
                list-style: none;
                display: flex;
                justify-content: space-around;
                align-items: center;

                .particles__item{
                    width: 150px;
                    background:linear-gradient($colorVerde, transparent);
                    padding: 5px 0px;
                    transform: skewX(-5deg);
                    text-align: center;
                    .particles__link{
                        color: white;
                        font-size: 16px;
                        font-weight: 100;
                    }
                }
                 
                .particles__item:hover{
                    background:linear-gradient(transparent, $colorVerde); 
                    cursor: pointer;
                }
            }
            
        }

        ////////////////////FOOTER/////////////////////////
        .contFooter{
            width:90%;
            //padding: 5px 0px;
            background: $colorAzulTransparente;
            position: absolute;
            bottom: 20px;
            transform: skew(-5deg);

            .contFooter_cuadroBase{
                width: 60%;
                margin: auto;
                //background: red;
                padding: 3px 0px;
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                .contFooter_cuadroBase_caja{
                    background: transparent;
                    .IconRed{
                        font-size: 25px;
                        color:$colorVerde;
                        transform:  rotateY(25deg);
                        transition: all 0.2s;
                    }
                    .IconRed:hover{
                        color: $colorCelesteOscuro;
                        transform: rotate(360deg);
                        cursor: pointer;
                    }  

                    .caja__parra{
                        font-size: 14px;
                        color: white;
                        font-weight: 100;
                        margin-left: 5px;
                    }  
                }
            }
        }
    }
}



/**
RESPONSIVE DESING OFICIAL NUEVO
@media (min-width:1025px) and (max-width:1200px){}     175px
@media (min-width:900px)  and (max-width:1024px){}     124px
@media (min-width:770px)  and (max-width:899px){}      129px
@media (min-width:641px)  and (max-width:769px){}      128px
@media (min-width:481px)  and (max-width:640px){}      159px
@media (min-width:320px)  and (max-width:480px){}      160px
*/

@media (min-width:641px)  and (max-width:769px){
    .contParticulas{
        width: 100%;
        max-width: 1440px;
        height: 100vh;
        margin: auto;
        //padding: 10px 0px;
        background-image: url(../img/desarrollando.jpg);
        background-size: 100% 100%;
        //background-attachment: fixed;
        overflow: hidden;
        position: fixed;
        z-index: -1;
        #particles-js{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction:column;
            justify-content: flex-start;
            align-items: center;
            background: $colorAzulTransparente;
            position: fixed;
            left: 0;
          
    
            //TITLE
            .titulo_principal{
                width: 550px;
                padding: 15px 0px;
                font-size: 160px;
                text-align: center;
                font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                text-shadow: 2px 2px 8px $colorVerde;
                border-top:4px solid $colorVerde;
                border-bottom:2px solid $colorVerde;
                transform: skewX(-5deg);
                /*position: absolute;
                top: 30px;
                left: 80px;*/
                line-height:130px;
                letter-spacing: -8px;
    
                /*GRADIENT TEXT
                background: $colorVerde;  //EN CASO DE QUE NO FUNCIONE EL GRDIENT EN ALGUN NAVEGADOR
                background-image: linear-gradient(white, $colorVerde) ;
                background-clip: text;
    
                -webkit-background-clip:text ;
                -moz-background-clip:text ;
                -webkit-text-fill-color: transparent;
                -moz-text-fill-color: transparent;
                //FIN GRADIENT*/
    
                color: $colorAzulOscuro;
                position: absolute;
                top: 130px;
                            
            }
    
            //SUBTITLE
            .subtitle{
                margin-top: 15px;
                text-align: center;
                color:white;
                font-size: 23px;
                font-weight: 300;
                transform: skewX(-5deg);
                position: absolute;
                top: 290px;
                .front_css_js{
                    color: $colorVerde;
                    font-family: 'Oswald', sans-serif;
                    font-style: normal;
                    font-size: 23px;
                }
            }
    
            //BOTONES
            .particles__menu{
                width: 400px;
                padding: 5px 0px;
                margin-top: 40px;
                position: absolute;
                top: 340px;
                .particles__ul{
                    padding: 5px 0px;
                    list-style: none;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
    
                    .particles__item{
                        width: 150px;
                        background:linear-gradient($colorVerde, transparent);
                        padding: 5px 0px;
                        transform: skewX(-5deg);
                        text-align: center;
                        .particles__link{
                            color: white;
                        }
                    }
                     
                    .particles__item:hover{
                        background:linear-gradient(transparent, $colorVerde); 
                        cursor: pointer;
                    }
                }
                
            }
    
            ////////////////////FOOTER/////////////////////////
            .contFooter{
                width:90%;
                //padding: 5px 0px;
                background: $colorAzulTransparente;
                position: absolute;
                bottom: 20px;
                transform: skew(-5deg);
    
                .contFooter_cuadroBase{
                    width: 70%;
                    margin: auto;
                    //background: red;
                    padding: 3px 0px;
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    .contFooter_cuadroBase_caja{
                        background: transparent;
                        .IconRed{
                            font-size: 28px;
                            color:$colorVerde;
                            transform:  rotateY(25deg);
                            transition: all 0.2s;
                        }
                        .IconRed:hover{
                            color: $colorCelesteOscuro;
                            transform: rotate(360deg);
                            cursor: pointer;
                        }  
                        .caja__parra{
                            color: white;
                            display: none;
                        }  
                    }
                }
            }
        }
    }
}






@media (min-width:481px)  and (max-width:640px){
    .contParticulas{
        width: 100%;
        max-width: 1440px;
        height: 100vh;
        margin: auto;
        //padding: 10px 0px;
        background-image: url(../img/desarrollando.jpg);
        background-size: 100% 100%;
        //background-attachment: fixed;
        overflow: hidden;
        position: fixed;
        z-index: -1;
        #particles-js{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction:column;
            justify-content: flex-start;
            align-items: center;
            background: $colorAzulTransparente;
            position: fixed;
            left: 0;
           
    
            //TITLE
            .titulo_principal{
                width: 420px;
                padding: 10px 0px;
                font-size: 140px;
                text-align: center;
                font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                text-shadow: 2px 2px 8px $colorVerde;
                border-top:4px solid $colorVerde;
                border-bottom:2px solid $colorVerde;
                transform: skewX(-5deg);
                /*position: absolute;
                top: 30px;
                left: 80px;*/
                line-height:130px;
                letter-spacing: -8px;
    
                /*GRADIENT TEXT
                background: $colorVerde;  //EN CASO DE QUE NO FUNCIONE EL GRDIENT EN ALGUN NAVEGADOR
                background-image: linear-gradient(white, $colorVerde) ;
                background-clip: text;
    
                -webkit-background-clip:text ;
                -moz-background-clip:text ;
                -webkit-text-fill-color: transparent;
                -moz-text-fill-color: transparent;
                //FIN GRADIENT*/
    
                color: $colorAzulOscuro;
                position: absolute;
                top: 130px;
                            
            }
    
            //SUBTITLE
            .subtitle{
                margin-top: 15px;
                text-align: center;
                color:white;
                font-size: 23px;
                font-weight: 300;
                transform: skewX(-5deg);
                position: absolute;
                top: 290px;
                .front_css_js{
                    color: $colorVerde;
                    font-family: 'Oswald', sans-serif;
                    font-style: normal;
                    font-size: 23px;
                }
            }
    
            //BOTONES
            .particles__menu{
                width: 400px;
                padding: 5px 0px;
                margin-top: 40px;
                position: absolute;
                top: 340px;
                .particles__ul{
                    padding: 5px 0px;
                    list-style: none;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
    
                    .particles__item{
                        width: 150px;
                        background:linear-gradient($colorVerde, transparent);
                        padding: 5px 0px;
                        transform: skewX(-5deg);
                        text-align: center;
                        .particles__link{
                            color: white;
                        }
                    }
                     
                    .particles__item:hover{
                        background:linear-gradient(transparent, $colorVerde); 
                        cursor: pointer;
                    }
                }
                
            }
    
            ////////////////////FOOTER/////////////////////////
            .contFooter{
                width:90%;
                //padding: 5px 0px;
                background: $colorAzulTransparente;
                position: absolute;
                bottom: 20px;
                transform: skew(-5deg);
    
                .contFooter_cuadroBase{
                    width: 70%;
                    margin: auto;
                    //background: red;
                    padding: 3px 0px;
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    .contFooter_cuadroBase_caja{
                        background: transparent;
                        .IconRed{
                            font-size: 28px;
                            color:$colorVerde;
                            transform:  rotateY(25deg);
                            transition: all 0.2s;
                        }
                        .IconRed:hover{
                            color: $colorCelesteOscuro;
                            transform: rotate(360deg);
                            cursor: pointer;
                        }  
                        .caja__parra{
                            color: white;
                            display: none;
                        }  
                    }
                }
            }
        }
    }
}





@media (min-width:20px)  and (max-width:480px){
    .contParticulas{
        width: 100%;
        max-width: 1440px;
        height: 100vh;
        margin: auto;
        //padding: 10px 0px;
        background-image: url(../img/desarrollando.jpg);
        background-size: 100% 100%;
        //background-attachment: fixed;
        overflow: hidden;
        position: fixed;
        z-index: -1;
        #particles-js{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction:column;
            justify-content: flex-start;
            align-items: center;
            background: $colorAzulTransparente;
            position: fixed;
            left: 0;
          
            //TITLE
            .titulo_principal{
                width: 90%;
                padding: 0px 0px;
                font-size: 98px;
                text-align: center;
                font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                text-shadow: 2px 2px 8px $colorVerde;
                border-top:4px solid $colorVerde;
                border-bottom:2px solid $colorVerde;
                transform: skewX(-5deg);
                /*position: absolute;
                top: 30px;
                left: 80px;*/
                line-height:130px;
                letter-spacing: -8px;
    
                /*GRADIENT TEXT
                background: $colorVerde;  //EN CASO DE QUE NO FUNCIONE EL GRDIENT EN ALGUN NAVEGADOR
                background-image: linear-gradient(white, $colorVerde) ;
                background-clip: text;
    
                -webkit-background-clip:text ;
                -moz-background-clip:text ;
                -webkit-text-fill-color: transparent;
                -moz-text-fill-color: transparent;
                //FIN GRADIENT*/
    
                color: $colorAzulOscuro;
                position: absolute;
                top: 130px;
                            
            }
    
            //SUBTITLE
            .subtitle{
                margin-top: 0px;
                text-align: center;
                color:white;
                font-size: 20px;
                font-weight: 300;
                transform: skewX(-5deg);
                position: absolute;
                top: 290px;
                .front_css_js{
                    color: $colorVerde;
                    font-family: 'Oswald', sans-serif;
                    font-style: normal;
                    font-size: 20px;
                }
            }
    
            //BOTONES
            .particles__menu{
                width: 90%;
                padding: 5px 0px;
                margin-top: 30px;
                position: absolute;
                top: 340px;
                .particles__ul{
                    padding: 5px 0px;
                    list-style: none;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
    
                    .particles__item{
                        width: calc(50% - 20px);
                        background:linear-gradient($colorVerde, transparent);
                        padding: 5px 0px;
                        transform: skewX(-5deg);
                        text-align: center;
                        .particles__link{
                            color: white;
                        }
                    }
                     
                    
                }
                
            }
    
            ////////////////////FOOTER/////////////////////////
            .contFooter{
                width:90%;
                //padding: 5px 0px;
                background: $colorAzulTransparente;
                position: absolute;
                bottom: 20px;
                transform: skew(-5deg);
    
                .contFooter_cuadroBase{
                    width: 70%;
                    margin: auto;
                    //background: red;
                    padding: 3px 0px;
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    .contFooter_cuadroBase_caja{
                        background: transparent;
                        .IconRed{
                            font-size: 28px;
                            color:$colorVerde;
                            transform:  rotateY(25deg);
                            transition: all 0.2s;
                        }
                        .IconRed:hover{
                            color: $colorCelesteOscuro;
                            transform: rotate(360deg);
                            cursor: pointer;
                        }  
                        .caja__parra{
                            color: white;
                            display: none;
                        }  
                    }
                }
            }
        }
    }
}
