

/////////////////CAJA PARTICULASS/////////////////////////

.contParticulas{
    width: 100%;
    max-width: 1440px;
    height: 100vh;
    margin: auto;
    //padding: 10px 0px;
    background-image: url(../img/desarrollando.jpg);
    background-size: 100% 100%;
    //background-attachment: fixed;
    overflow: hidden;
    position: fixed;
    z-index: -1;
    #particles-js{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        background: $colorAzulTransparente;
        position: fixed;
        left: 0;
    
        //TITLE
        .titulo_principal{
            width:auto;
            padding: 15px 0px;
            font-size: 220px;
            text-shadow: 2px 2px 8px $colorVerde;
            transform: skewX(-5deg);
            line-height:130px;
            color: $colorAzulOscuro;
            position: absolute;
            top: 100px;
            font-family: "Oswald", sans-serif;
            font-weight: 700;

            /*GRADIENT TEXT
            background: $colorVerde;  //EN CASO DE QUE NO FUNCIONE EL GRDIENT EN ALGUN NAVEGADOR
            background-image: linear-gradient(white, $colorVerde) ;
            background-clip: text;

            -webkit-background-clip:text ;
            -moz-background-clip:text ;
            -webkit-text-fill-color: transparent;
            -moz-text-fill-color: transparent;
            //FIN GRADIENT*/

        }

        //SUBTITLE
        .subtitle{
            text-align: center;
            color:white;
            font-size: 22px;
            font-weight: 100;
            transform: skewX(-5deg);
            position: absolute;
            top: 330px;
            font-family: poppins;
            .front_css_js{
                color: $colorVerde;
                font-family: poppins;
                font-weight: 500;
                font-style: normal;
                font-size: 20px;
            }
        }

        //BOTONES
        .particles__menu{
            width: 400px;
            padding:0px;
            position: absolute;
            top: 380px;
            .particles__ul{
                padding: 4px 0px;
                list-style: none;
                display: flex;
                justify-content: space-around;
                align-items: center;

                .particles__item{
                    width: 150px;
                    background:linear-gradient($colorVerde, transparent);
                    padding: 5px 0px;
                    text-align: center;

                    .particles__link{
                        color: white;
                        font-size: 16px;
                        font-weight: 100;
                    }
                }
                 
                .particles__item:hover{
                    background:linear-gradient(transparent, $colorVerde); 
                    cursor: pointer;
                }
            }
            
        }

        ////////////////////FOOTER/////////////////////////
        .contFooter{
            width:90%;
            background: $colorAzulTransparente;
            position: absolute;
            bottom: 15px;
            .contFooter_cuadroBase{
                width: 60%;
                margin: auto;
                //background: red;
                padding: 3px 0px;
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                .contFooter_cuadroBase_caja{
                    background: transparent;
                    .IconRed{
                        font-size: 25px;
                        color:$colorVerde;
                        transform:  rotateY(25deg);
                        transition: all 0.2s;
                    }
                    .IconRed:hover{
                        color: $colorCelesteOscuro;
                        transform: rotate(360deg);
                        cursor: pointer;
                    }  

                    .caja__parra{
                        font-size: 14px;
                        color: white;
                        font-weight: 100;
                        margin-left: 5px;
                    }  
                }
            }
        }
    }
}




@media (min-width:641px)  and (max-width:1024px){
    .contParticulas{
        width: 100%;
        max-width: 1440px;
        height: 100vh;
        margin: auto;
        //padding: 10px 0px;
        background-image: url(../img/desarrollando.jpg);
        background-size: 100% 100%;
        //background-attachment: fixed;
        overflow: hidden;
        position: fixed;
        z-index: -1;
        #particles-js{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction:column;
            justify-content: center;
            align-items: center;
            background: $colorAzulTransparente;
            position: fixed;
            left: 0;
        
            //TITLE
            .titulo_principal{
                width:auto;
                padding: 15px 0px;
                font-size: 220px;
                font-family: Poppins;
                text-shadow: 2px 2px 8px $colorVerde;
                transform: skewX(-5deg);
                letter-spacing: -6px;
                line-height:130px;
                color: $colorAzulOscuro;
                position: absolute;
                top: 100px;
                font-family: "Oswald", sans-serif;
                font-weight: 700;

                /*GRADIENT TEXT
                background: $colorVerde;  //EN CASO DE QUE NO FUNCIONE EL GRDIENT EN ALGUN NAVEGADOR
                background-image: linear-gradient(white, $colorVerde) ;
                background-clip: text;
    
                -webkit-background-clip:text ;
                -moz-background-clip:text ;
                -webkit-text-fill-color: transparent;
                -moz-text-fill-color: transparent;
                //FIN GRADIENT*/
    
            }
    
            //SUBTITLE
            .subtitle{
                text-align: center;
                color:white;
                font-size: 20px;
                font-weight: 100;
                transform: skewX(-5deg);
                position: absolute;
                top: 330px;
                font-family: poppins;
                .front_css_js{
                    color: $colorVerde;
                    font-family: poppins;
                    font-weight: 500;
                    font-style: normal;
                    font-size: 20px;
                }
            }
    
            //BOTONES
            .particles__menu{
                width: 400px;
                padding:0px;
                position: absolute;
                top: 380px;
                .particles__ul{
                    padding: 4px 0px;
                    list-style: none;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
    
                    .particles__item{
                        width: 150px;
                        background:linear-gradient($colorVerde, transparent);
                        padding: 5px 0px;
                        text-align: center;
                        .particles__link{
                            color: white;
                            font-size: 16px;
                            font-weight: 100;
                        }
                    }
                     
                    .particles__item:hover{
                        background:linear-gradient(transparent, $colorVerde); 
                        cursor: pointer;
                    }
                }
                
            }
    
            ////////////////////FOOTER/////////////////////////
            .contFooter{
                width:100%;
                background: transparent;
                position: absolute;
                bottom: 15px;
                .contFooter_cuadroBase{
                    width: 28%;
                    margin: auto;
                    padding: 3px 0px;
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    .contFooter_cuadroBase_caja{
                        background: transparent;
                        padding: 0px 3px ;
                        .IconRed{
                            font-size: 28px;
                            color:$colorVerde;
                            transform:  rotateY(25deg);
                            transition: all 0.2s;
                        }
    
                        .caja__parra{
                            font-size: 14px;
                            color: white;
                            font-weight: 100;
                            margin-left: 5px;
                            display: none;
                        }  
                    }
                }
            }
        }
    }
}


/*****************************************************************************
-----------------------------------------------------------*/

/*****************************************************************************
-----------------------------------------------------------*/

@media (min-width:481px)  and (max-width:640px){
    .contParticulas{
        width: 100%;
        max-width: 1440px;
        height: 100vh;
        margin: auto;
        //padding: 10px 0px;
        background-image: url(../img/desarrollando.jpg);
        background-size: 100% 100%;
        //background-attachment: fixed;
        overflow: hidden;
        position: fixed;
        z-index: -1;
        #particles-js{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction:column;
            justify-content: center;
            align-items: center;
            background: $colorAzulTransparente;
            position: fixed;
            left: 0;
        
            //TITLE
            .titulo_principal{
                width:auto;
                padding: 15px 0px;
                font-size: 160px;
                text-shadow: 2px 2px 8px $colorVerde;
                transform: skewX(-5deg);
                letter-spacing: -6px;
                line-height:130px;
                color: $colorAzulOscuro;
                position: absolute;
                top: 100px;
                /*GRADIENT TEXT
                background: $colorVerde;  //EN CASO DE QUE NO FUNCIONE EL GRDIENT EN ALGUN NAVEGADOR
                background-image: linear-gradient(white, $colorVerde) ;
                background-clip: text;
    
                -webkit-background-clip:text ;
                -moz-background-clip:text ;
                -webkit-text-fill-color: transparent;
                -moz-text-fill-color: transparent;
                //FIN GRADIENT*/
    
            }
    
            //SUBTITLE
            .subtitle{
                text-align: center;
                color:white;
                font-size: 20px;
                font-weight: 100;
                transform: skewX(-5deg);
                position: absolute;
                top: 300px;
                font-family: poppins;
                .front_css_js{
                    color: $colorVerde;
                    font-family: poppins;
                    font-weight: 500;
                    font-style: normal;
                    font-size: 20px;
                }
            }
    
            //BOTONES
            .particles__menu{
                width: 200px;
                padding:0px;
                position: absolute;
                top: 340px;
                .particles__ul{
                    padding: 4px 0px;
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    .particles__item{
                        width: 180px;
                        background:linear-gradient($colorVerde, transparent);
                        padding: 5px 0px;
                        text-align: center;
                        margin: 10px;
                        .particles__link{
                            color: white;
                            font-size: 16px;
                            font-weight: 300;
                        }
                    }
                }
                
            }
    
            ////////////////////FOOTER/////////////////////////
            .contFooter{
                width:100%;
                background: transparent;
                position: absolute;
                bottom: 15px;
                .contFooter_cuadroBase{
                    width: 32%;
                    margin: auto;
                    padding: 3px 0px;
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    .contFooter_cuadroBase_caja{
                        background: transparent;
                        padding: 0px 3px ;
                        .IconRed{
                            font-size: 25px;
                            color:$colorVerde;
                            transform:  rotateY(25deg);
                            transition: all 0.2s;
                        }
    
                        .caja__parra{
                            font-size: 14px;
                            color: white;
                            font-weight: 100;
                            margin-left: 5px;
                            display: none;
                        }  
                    }
                }
            }
        }
    }
}



/*****************************************************************************
-----------------------------------------------------------*/

@media (min-width:320px)  and (max-width:480px){
    .contParticulas{
        width: 100%;
        max-width: 1440px;
        height: 100vh;
        margin: auto;
        //padding: 10px 0px;
        background-image: url(../img/desarrollando.jpg);
        background-size: 100% 100%;
        //background-attachment: fixed;
        overflow: hidden;
        position: fixed;
        z-index: -1;
        #particles-js{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction:column;
            justify-content: center;
            align-items: center;
            background: $colorAzulTransparente;
            position: fixed;
            left: 0;
        
            //TITLE
            .titulo_principal{
                width:auto;
                padding: 15px 0px;
                font-size: 130px;
                text-shadow: 2px 2px 8px $colorVerde;
                transform: skewX(-5deg);
                letter-spacing: -6px;
                line-height:130px;
                color: $colorAzulOscuro;
                position: absolute;
                top: 80px;
                /*GRADIENT TEXT
                background: $colorVerde;  //EN CASO DE QUE NO FUNCIONE EL GRDIENT EN ALGUN NAVEGADOR
                background-image: linear-gradient(white, $colorVerde) ;
                background-clip: text;
    
                -webkit-background-clip:text ;
                -moz-background-clip:text ;
                -webkit-text-fill-color: transparent;
                -moz-text-fill-color: transparent;
                //FIN GRADIENT*/
    
            }
    
            //SUBTITLE
            .subtitle{
                width: 85%;
                text-align: center;
                color:white;
                font-size: 24px;
                line-height: 23px;
                font-weight: 300;
                transform: skewX(-5deg);
                position: absolute;
                top: 270px;
                font-family: poppins;
                .front_css_js{
                    color: $colorVerde;
                    font-family: poppins;
                    font-weight: 500;
                    font-style: normal;
                    font-size: 24px;
                }
            }
    
            //BOTONES
            .particles__menu{
                width: 200px;
                padding:0px;
                position: absolute;
                top: 350px;
                .particles__ul{
                    padding: 4px 0px;
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    .particles__item{
                        width: 200px;
                        background:linear-gradient($colorVerde, transparent);
                        padding: 5px 0px;
                        text-align: center;
                        margin: 8px 0px;
                        .particles__link{
                            color: white;
                            font-size: 16px;
                            font-weight: 300;
                        }
                    }
                }
                
            }
    
            ////////////////////FOOTER/////////////////////////
            .contFooter{
                width:100%;
                background: transparent;
                position: absolute;
                bottom: 15px;
                .contFooter_cuadroBase{
                    width: 50%;
                    margin: auto;
                    padding: 3px 0px;
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    .contFooter_cuadroBase_caja{
                        background: transparent;
                        padding: 0px 3px ;
                        .IconRed{
                            font-size: 28px;
                            color:$colorVerde;
                            transform:  rotateY(25deg);
                            transition: all 0.2s;
                        }
    
                        .caja__parra{
                            font-size: 14px;
                            color: white;
                            font-weight: 100;
                            margin-left: 5px;
                            display: none;
                        }  
                    }
                }
            }
        }
    }
}

























