@import "variables";
.contPie{
    width: 100%;
    padding: 30px 0px;
    background:$colorNegro;
    .contPie_cont{
        width: 100%;
        padding: 10px 0px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .boxing1{
            width:100px;
            height: 50px;
            background-image: url(../img/LOGO/loogo.png);
            background-size: 100% 100%;
            margin-left: 20px;
        }
    
        .contPie_ul{
            width: 400px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            .contPie_ul_li{
                list-style: none;
                padding: 5px;
                .contPie_ul_li_a{
                    color: white;
                }
                .contPie_ul_li_a:hover{
                    color: $colorVerde;
                }
            }
        }
    }
    

    .boxing2{
        width: 100%;
        margin-top:30px;
        .contFooter_derechos_text{
          font-size: 14px;
          color: white;
          text-align: center;
          line-height: 16px;
          font-weight: 100;
          .ap{
            color: $colorVerde;
            font-size: 14px;

          }
        }
    }   
    
}



@media (min-width:320px) and (max-width:640px){
    .contPie{
        width: 100%;
        padding: 30px 0px;
        background:$colorNegro;
        .contPie_cont{
            width: 100%;
            padding: 10px 0px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .boxing1{
                width:100px;
                height: 50px;
                background-image: url(../img/LOGO/loogo.png);
                background-size: 100% 100%;
                margin-left: 20px;
            }
        
            .contPie_ul{
                width: 150px;
                display: flex;
                flex-direction:column;
                justify-content: space-around;
                align-items: center;
                .contPie_ul_li{
                    list-style: none;
                    padding: 0px;
                    .contPie_ul_li_a{
                        color: white;
                        font-size: 14px;
                    }
                }
            }
        }
        
    
        .boxing2{
            width: 100%;
            margin-top:40px;
            .contFooter_derechos_text{
              font-size: 14px;
              color: white;
              text-align: center;
              line-height: 16px;
              font-weight: 100;
              .ap{
                color: $colorVerde;
                font-size: 14px;
    
              }
            }
        }   
        
    }
    
}

