
////////ESTE PRELOADER NO ESTA EN USOO
///////////ESTE PRELOADER NO ESTA EN USO
////////ESTE PRELOADER NO ESTA EN USOO


@import "variables";
/*.loader{
    width:100%;
    height: 100vh;
    background: $colorAzul;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5000;
    position: fixed;
    
}
.loaderJS{
    animation: preloader 1s forwards;
    
}
@keyframes preloader {
    100%{
        opacity: 0;
        visibility: hidden;
    }
}*/

