
//////////////////////////PALETA DE COLORES EJ 2
$colorVerde :#56fbd3;
$colorVerdeTrans :#56fbd23a;
$colorAzul :#0c1b32;
$colorAzulOscuro :#060f1d;
$colorAzulTransparente :#050b20c6;
$colorCelesteOscuro:#96aadb;
$colorBlackTransparent:#14141486;
$colorNegro:#000000;

///////////////////////FONTS////////////
$fuenteTitles:200px;
$letterSpacing:-3px;






$colorRojoTransparent :#691233b0;
$colorRojo :#0c1b32;
$colorRojoClaro:#c7356d;
$colorBlack:#242424;
$colorBlanco:#56fbd3;

/////////////////////////////PALETA DE COLORES EJ 3
$colorAmarillo :#cadc4c;
$colorAzulMarino :#28292d;

////////////////////////TAMAÑO DE FUENTES
$tamañotitlesProyectos:40px;
$FuenteTipoDos:40px;             //se esta utilizando en el max 720px