*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;     //600    //300
    font-size: 18px;
}


@import "menu";
@import "grid_paginaFrontal";
@import "paginaFrontal";
@import "gridContent";
@import "about";
@import "variables";
@import "contact";
@import "btnTop";
@import "preloader";
@import "pie";
@import "barras";
@import "switchAlert";
@import "grid_retos";
@import "retos";
@import "landing"; 
@import "contTemplatesRetos"; 
@import "blog";
@import "contRedes_box";

@import "../scss/portfolio/title";
@import "../scss/portfolio/estructura";

@import "../scss/services/titleServices";
@import "../scss/services/services";


@import "../scss/skills/skillsCont";
@import "../scss/skills/titleSkills";
@import "../scss/skills/skills";

@import "../scss/contact/contactTitle";
