///////////TITLE_PORTFOLIO////////////////
@use "../variables";    

.containerPortfolio{
    width: 100%;
    height: 250px;
    background: variables.$colorNegro;
    position: relative;
    overflow: hidden;
    transform: skewX(-5deg);

    .containerPortfolio_blockA{
       width: 100%;
       height: 250px;
       background:linear-gradient(variables.$colorNegro,transparent);
    }
    .containerPortfolio_title{
         color: variables.$colorVerde;
         font-size: variables.$fuenteTitles;
         position: absolute;
         bottom: -30px;
         left:100px;
         z-index: 0;
         letter-spacing:variables.$letterSpacing;
         font-family: "Oswald", sans-serif;
         font-weight: 500;
         font-optical-sizing: auto;

    }
    .containerPortfolio_blockB{
        width: 100%;
        height: 250px;
        background:linear-gradient( transparent,variables.$colorNegro);
        position: absolute;
        bottom: 0;
        z-index: 1;
    }
}





@media (min-width:900px) and (max-width:1024px){
    .containerPortfolio{
        width: 100%;
        height: 250px;
        background: variables.$colorNegro;
        position: relative;
        overflow: hidden;
        transform: skewX(-5deg);
        .containerPortfolio_blockA{
           width: 100%;
           height: 250px;
           background:linear-gradient(variables.$colorNegro,transparent);
        }
        .containerPortfolio_title{
             color: variables.$colorVerde;
             font-size: 120px;
             position: absolute;
             bottom: -30px;
             left:100px;
             z-index: 0;
             letter-spacing:variables.$letterSpacing;
    
        }
        .containerPortfolio_blockB{
            width: 100%;
            height: 250px;
            background:linear-gradient( transparent,variables.$colorNegro);
            position: absolute;
            bottom: 0;
            z-index: 1;
        }
    }
} 





@media (min-width:770px) and (max-width:899px){
    .containerPortfolio{
        width: 100%;
        height: 250px;
        background: variables.$colorNegro;
        position: relative;
        overflow: hidden;
        transform: skewX(-5deg);
        .containerPortfolio_blockA{
           width: 100%;
           height: 250px;
           background:linear-gradient(variables.$colorNegro,transparent);
        }
        .containerPortfolio_title{
             color: variables.$colorVerde;
             font-size: 120px;
             position: absolute;
             bottom: -30px;
             left:80px;
             z-index: 0;
             letter-spacing:variables.$letterSpacing;
    
        }
        .containerPortfolio_blockB{
            width: 100%;
            height: 250px;
            background:linear-gradient( transparent,variables.$colorNegro);
            position: absolute;
            bottom: 0;
            z-index: 1;
        }
    }
} 





@media (min-width:641px) and (max-width:769px){
    .containerPortfolio{
        width: 100%;
        height: 250px;
        background: variables.$colorNegro;
        position: relative;
        overflow: hidden;
        transform: skewX(-5deg);
        .containerPortfolio_blockA{
           width: 100%;
           height: 250px;
           background:linear-gradient(variables.$colorNegro,transparent);
        }
        .containerPortfolio_title{
             color: variables.$colorVerde;
             font-size: 120px;
             position: absolute;
             bottom: -30px;
             left:60px;
             z-index: 0;
             letter-spacing:variables.$letterSpacing;
    
        }
        .containerPortfolio_blockB{
            width: 100%;
            height: 250px;
            background:linear-gradient( transparent,variables.$colorNegro);
            position: absolute;
            bottom: 0;
            z-index: 1;
        }
    }
} 





@media (min-width:481px) and (max-width:640px){
    .containerPortfolio{
        width: 100%;
        height: 200px;
        background: variables.$colorNegro;
        position: relative;
        overflow: hidden;
        transform: skewX(-5deg);
        .containerPortfolio_blockA{
           width: 100%;
           height: 200px;
           background:linear-gradient(variables.$colorNegro,transparent);
        }
        .containerPortfolio_title{
             color: variables.$colorVerde;
             font-size: 100px;
             position: absolute;
             bottom: 0px;
             left:50px;
             z-index: 0;
             letter-spacing:variables.$letterSpacing;
    
        }
        .containerPortfolio_blockB{
            width: 100%;
            height: 200px;
            background:linear-gradient( transparent,variables.$colorNegro);
            position: absolute;
            bottom: 0;
            z-index: 1;
        }
    }
} 



@media (min-width:320px) and (max-width:480px){
    .containerPortfolio{
        width: 100%;
        height: 150px;
        background: variables.$colorNegro;
        position: relative;
        overflow: hidden;
        transform: skewX(-5deg);
        .containerPortfolio_blockA{
           width: 100%;
           height: 150px;
           background:linear-gradient(variables.$colorNegro,transparent);
           display: none;
        }
        .containerPortfolio_title{
             color: variables.$colorVerde;
             font-size: 75px;
             position: absolute;
             bottom: 15px;
             left:calc(50% - 150px);
             z-index: 0;
             letter-spacing:variables.$letterSpacing;
    
        }
        .containerPortfolio_blockB{
            width: 100%;
            height: 150px;
            background:linear-gradient( transparent,variables.$colorNegro);
            display: none;
            position: absolute;
            bottom: 0;
            z-index: 1;
        }
    }
} 

