@import "../variables";

/*************CONTENEDOR CUARTA SECCION HABILIDADES*****************************/
/******************************************/
/******************************************/
.contImgBig{
    width: 100%;
    //padding: 5px 0px;
    background-image: url(../img/developer.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;

    .cont_big{
        width: 100%;
        //padding:10px 0px;
        background:$colorNegro;
        position: relative;

        .cont_cont_cuadros{
            margin: 10px auto; 
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-around;
            padding: 5px 0px;
            background:transparent;
            .cont_cuadro_A{
                width: 80%;
                padding: 5px 0px;
                //background: rgb(39, 208, 39);
                .tecnologis{
                    width: 100%;
                    padding: 5px 0px;
                    //background: rgb(24, 37, 116);
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    align-items: center;
                    .contcuadro{
                        width: 110px;
                        background: $colorAzulOscuro;
                        border-bottom: 2px solid $colorVerde;
                        border-radius: 10px;
                        transform: skew(-5deg);
                        padding: 5px 0px;
                        margin:5px ;
                        position: relative;
                        .mi_imagen{
                            width:90px;
                            height:90px;
                            margin:auto;   
                            transform: skew(5deg);

                            //background: rgba(250, 55, 55, 0.151);
                            border-radius: 10px;
                            cursor: pointer;
                            //animation: mymove 3s linear; 
                        }
                        .campoText{
                            text-align: center;
                            color: $colorVerde;
                            transform: skew(-5deg);
                            //background: chartreuse;
                        }
                       
                      
                       
                        /*@keyframes mymove{
                            0% {
                                transform: rotateY(0deg);
                            }
                            25% {
                                transform: rotateY(180deg);
                                   
                            }
                            75% {
                                transform: rotateY(360deg);   
                            }
                            100% {
                                transform: rotateY(0deg);   
                            }
                          } */
                    }   
                }
                
            }
            
            
        }
    
    }

}

