@import "../variables";

.contBlogHeader{
    width: 100%;
    padding: 10px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-arounda;
    align-items: center;

    //CONTENEDOR IZQUIERDO BANNER
    .contBlogHeader_bannerRight{
        width:70%;
        height: 500px;
        overflow: hidden;
        position: relative;
        .contBlogHeader_bannerRight_medio{
            width: 100%;
            height: 100%;
            background-image: url(../img/BLOG/banner_principal.jpg);
            background-size: 100% 100%;
            text-align: center;
            transition: 0.5s all;
           
        }
        .contBlogHeader_bannerRight_medio:hover{
            transform: scale(1.1,1.1);   
        }
        .contBlogHeader_bannerRight_contTitle{
            width: 300px; 
            padding: 5px 0px;
            position: absolute;
            bottom: 30px;
            left:calc(50% - 180px);
            text-align: center;
            background: $colorAzulTransparente;
            border-radius: 5px 20px;
            .contBlogHeader_bannerRight_contTitle_text{
                color: white;
                font-size: 20px;
                font-weight: 300;
                line-height: 25px;
                font-weight: 700;
            }
           
        }
    }
  
    //CONTENEDOR DERECHO BANNER PEQUEÑOS
    .contBlogHeader_boxBanners{
        width:30%;
        height: 500px;
        background: rgb(148, 34, 22);
        overflow: hidden;
        .contBlogHeader_boxBanners_box{
            width: 100%;
            height: 166.66px;
            background: tan;
            position: relative;
            transition: 0.5s all;
            .contBlogHeader_boxBanners_box_contImgage{
                width: 100%;
                height: 100%;
            }
            .contBlogHeader_boxBanners_box_conttitle{
                width: 200px;
                padding: 10px 0px;
                text-align: center;
                position: absolute;
                border-radius: 5px;
                bottom: 20px;
                line-height: 20px;
                left: calc(50% - 150px);
                background: $colorAzulTransparente;
                .contcontBlogHeader_bannerRight_title{
                    color:$colorCelesteOscuro ;
                    font-weight: 700;
                }
            }
        }
        .contBlogHeader_boxBanners_box:hover{
            transform: scale(1.1,1.1);
        }
    }
}



@media (min-width:320px) and (max-width:640px) {
    .contBlogHeader{
        width: 100%;
        //padding: 10px 0px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-arounda;
        align-items: center;
    
        //CONTENEDOR IZQUIERDO BANNER
        .contBlogHeader_bannerRight{
            width:100%;
            height: 500px;
            background: firebrick;
            overflow: hidden;
            position: relative;
            .contBlogHeader_bannerRight_medio{
                width: 100%;
                height: 100%;
                background-image: url(/img/BLOG/banner_principal.jpg);
                background-size: 100% 100%;
                text-align: center;
                transition: 0.5s all;
               
            }
            .contBlogHeader_bannerRight_medio:hover{
                transform: scale(1.1,1.1);   
            }
            .contBlogHeader_bannerRight_contTitle{
                width: 250px;
                padding: 10px 0px;
                position: absolute;
                bottom: 30px;
                left:calc(50% - 130px);
                text-align: center;
                .contBlogHeader_bannerRight_contTitle_text{
                    color: white;
                    font-size: 20px;
                    font-weight: 300;
                    line-height: 25px;
                }
               
            }
        }
      
        //CONTENEDOR DERECHO BANNER PEQUEÑOS
        .contBlogHeader_boxBanners{
            display: none;
        }
    }
    
}