@use "../variables";

.contBlogMenu{
    width: 100%;
    padding: 10px 0px;
    background:variables.$colorAzul;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    .contBlogMenu_ul{
        width:40%;
        padding: 10px 0px;
        margin-left: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        .contBlogMenu_ul_li{
            padding: 5px 0px;
            list-style: none;
            text-align: center;
            .blogLink{
                color: variables.$colorVerde;
                font-weight: 300;
                transition: 0.5s all;
            }
            .blogLink:hover{
                color: white;
            }
        }
    }
    
    .contBlogTop_btnResponsive{
        width: 50px;
        height: 50px;
        margin-right: 20px;
        display: flex;
        justify-content: center;
        align-items: center; 
        .iconBlogResponsive{
            font-size: 35px;
            color: white;
            transition: 0.2s ease;
            display: none;
        }
        .iconBlogResponsive:hover{
            transform: translateX(10px);
            cursor: pointer;
            color: variables.$colorVerde;
        }
    }
}



@media (min-width:320px) and (max-width:770px){
    .contBlogMenu{
        width: 100%;
        padding: 10px 0px;
        background:variables.$colorAzul;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
        .contBlogMenu_ul{
            width:100%;
            padding: 0px;
            margin-left: 0px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            position: absolute;
            background:variables.$colorAzul;
            top:-220px;  //70px
            opacity: 1;
            transition: 0.2s linear;
            z-index: 10;
            .contBlogMenu_ul_li{
                width: 100%;
                padding: 5px 0px;
                height: 50px;
                list-style: none;
                text-align: center;
                .blogLink{
                    color: variables.$colorVerde;
                    font-weight: 300;
                    transition: 0.5s all;
                }
                .blogLink:hover{
                    color: white;
                }
            }
           
        }

        .contBlogMenu_ul_JS{
            opacity: 1;
            top: 70px;
        }
        
        .contBlogTop_btnResponsive{
            width: 50px;
            height: 50px;
            margin-left: 20px;
            display: flex;
            justify-content: center;
            align-items: center; 
            z-index: 20;
            .iconBlogResponsive{
                display: block;
            }
          
        }
    }
    
}
