@import "../variables";

.contBlogHeader{
    width: 100%;
    padding: 10px 0px;
    background: rgba(238, 130, 238, 0.404);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-arounda;
    align-items: center;
    .contBlogHeader_bannerRight{
        width:60%;
        height: 400px;
        background: firebrick;
        overflow: hidden;
        position: relative;
        .contBlogHeader_bannerRight_medio{
            width: 100%;
            height: 100%;
            background-image: url(../img/developer.jpg);
            background-size: 100% 100%;
            text-align: center;
            transition: 0.5s all;
           
        }
        .contBlogHeader_bannerRight_medio:hover{
            transform: scale(1.1,1.1);   
        }
        .contBlogHeader_bannerRight_contTitle{
            width: 300px; 
            padding: 10px 0px;
            position: absolute;
            bottom: 30px;
            left:calc(50% - 200px);
            text-align: center;
            .contBlogHeader_bannerRight_contTitle_text{
                color: white;
                font-size: 20px;
                font-weight: 300;
                line-height: 25px;
            }
           
        }
    }
  

    .contBlogHeader_boxBanners{
        width:40%;
        height: 400px;
        background: rgb(148, 34, 22);
       
    }
}
