@import "../variables";

.contBlogSidebar{
    width: 100%;
    padding: 50px 10px;
    background:$colorAzul;
    .contBlogSidebar_contPublicidad{
        width: 100%;
        height:60%;
        margin-bottom: 10px;
        box-shadow: 0px 0px 6px $colorCelesteOscuro;

    }
    .contBlogSidebar_contRedes{
        width: 100%;
        padding: 10px 0px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        .contBlogSidebar_contRedes_box{
            width: 75px;
            padding: 10px;
            background: white;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.2s linear;
            .iconBlog{
                color:$colorAzul;
                transition: 0.2s linear;

            }
        }
        .contBlogSidebar_contRedes_box:hover{
            background: $colorAzul;
            .iconBlog{
                color:white;
            }
        }
    }
}


@media (min-width:770px) and (max-width:1024px){
    .contBlogSidebar{
        width: 100%;
        padding: 50px 10px;
        background:$colorAzul;
        .contBlogSidebar_contPublicidad{
            width: 100%;
            height: 50%;
            margin-bottom: 10px;
            
        }
        .contBlogSidebar_contRedes{
            width: 100%;
            padding: 10px 0px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            .contBlogSidebar_contRedes_box{
                width:55px;
                padding: 10px;
                background: white;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: 0.2s linear;
                .iconBlog{
                    color:$colorAzul;
                    transition: 0.2s linear;
    
                }
            }

        }
    }
    
}



@media (min-width:425px) and (max-width:769px){
    .contBlogSidebar{
        width: 100%;
        padding: 20px 10px;
        background:$colorAzul;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        .contBlogSidebar_contPublicidad{
            width: 45%;
            height: 50%;
            margin-bottom: 10px;
        }
        .contBlogSidebar_contRedes{
            width: 350px;
            padding: 10px 0px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            .contBlogSidebar_contRedes_box{
                width:100px;
                padding: 10px;
                background: white;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: 0.2s linear;
                .iconBlog{
                    color:$colorAzul;
                    transition: 0.2s linear;
    
                }
            }

        }
    }
    
}



@media (min-width:320px) and (max-width:424px){
    .contBlogSidebar{
        width: 100%;
        padding: 20px 10px;
        background:$colorAzul;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        .contBlogSidebar_contPublicidad{
            width:85%;
            height: 50%;
            margin-bottom: 10px;
        }
        .contBlogSidebar_contRedes{
            width: 85%;
            padding: 10px 0px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            .contBlogSidebar_contRedes_box{
                width:80px;
                padding: 10px;
                background: white;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: 0.2s linear;
                .iconBlog{
                    color:$colorAzul;
                    transition: 0.2s linear;
    
                }
            }

        }
    }
    
}