@import "../variables";

.contBlogTop{
    width: 100%;
    padding: 10px 0px;
    background: $colorAzul;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    .contBlogTop_logo{
        margin-left: 20px;
        .contBlogTop_logo_text{
            color: $colorVerde;
            font-size: 100px;
            letter-spacing: -4px;
            .blogtextAux{
                color:white;
                font-size: 100px;
                letter-spacing: -4px;
            }
        }
      
    }

    .contBlogTop_bar{
        width: 4px;
        height: 150px;
        background: white;
    }

    .contBlogTop_banner{
        width: 60%;
        margin-right:20px;
        height: 100px;
        .contBlogTop_banner_title{
            color: white;
            font-weight: 300;
            font-size: 80px;
            text-align: end;
        }
    }
}