@import "../variables";

.conatinerTitle{
    width: 100%;
    height: 300px;
    background:$colorNegro;
    position: relative;
    overflow: hidden;
    .conatinerTitle_blockA{
         width: 100%;
         height: 300px;
         background:linear-gradient($colorNegro,transparent);
         position: absolute;
         top: 0;
         z-index: 1;
    }
    .conatinerTitle_nameBig{
        .nameBig{
          color: $colorVerde;
          font-size: $fuenteTitles;
          position: absolute;
          bottom: -55px;
          left:calc(50% - 340px);
          z-index: 0;
          letter-spacing:$letterSpacing;
          transform: skewX(-5deg);

        }
    }
    .conatinerTitle_blockB{
        width: 100%;
        height: 300px;
        background:linear-gradient( transparent,$colorNegro);
        position: absolute;
        bottom: 0;
        z-index: 1;
    }
}






@media (min-width:641px) and (max-width:769px) {
    .conatinerTitle{
        width: 100%;
        height: 300px;
        background:$colorNegro;
        position: relative;
        overflow: hidden;
        .conatinerTitle_blockA{
             width: 100%;
             height: 300px;
             background:linear-gradient($colorNegro,transparent);
             position: absolute;
             top: 0;
             z-index: 1;
        }
        .conatinerTitle_nameBig{
            .nameBig{
              color: $colorVerde;
              font-size: 180px;
              position: absolute;
              bottom: -45px;
              left:calc(50% - 290px);
              z-index: 0;
              letter-spacing:$letterSpacing;
              transform: skewX(-5deg);

            }
        }
        .conatinerTitle_blockB{
            width: 100%;
            height: 300px;
            background:linear-gradient( transparent,$colorNegro);
            position: absolute;
            bottom: 0;
            z-index: 1;
        }
    }
}






@media (min-width:481px) and (max-width:640px) {
    .conatinerTitle{
        width: 100%;
        height: 220px;
        background:$colorNegro;
        position: relative;
        overflow: hidden;
        .conatinerTitle_blockA{
             width: 100%;
             height: 220px;
             background:linear-gradient($colorNegro,transparent);
             position: absolute;
             top: 0;
             z-index: 1;
        }
        .conatinerTitle_nameBig{
            .nameBig{
              color: $colorVerde;
              font-size: 150px;
              position: absolute;
              bottom: -35px;
              left:calc(50% - 230px);
              z-index: 0;
              letter-spacing:$letterSpacing;
              transform: skewX(-5deg);

            }
        }
        .conatinerTitle_blockB{
            width: 100%;
            height: 220px;
            background:linear-gradient( transparent,$colorNegro);
            position: absolute;
            bottom: 0;
            z-index: 1;
        }
    }
}



@media (min-width:320px) and (max-width:480px) {
    .conatinerTitle{
        width: 100%;
        height: 200px;
        background:$colorNegro;
        position: relative;
        overflow: hidden;
        .conatinerTitle_blockA{
             width: 100%;
             height: 200px;
             background:linear-gradient($colorNegro,transparent);
             position: absolute;
             top: 0;
             z-index: 1;
        }
        .conatinerTitle_nameBig{
            .nameBig{
              color: $colorVerde;
              font-size: 100px;
              position: absolute;
              bottom: -20px;
              left:calc(50% - 150px);
              z-index: 0;
              letter-spacing:$letterSpacing;
              transform: skewX(-5deg);

            }
        }
        .conatinerTitle_blockB{
            width: 100%;
            height: 200px;
            background:linear-gradient( transparent,$colorNegro);
            position: absolute;
            bottom: 0;
            z-index: 1;
        }
    }
}



